@import "tailwindcss";

@theme {
--color-text-main: #2E2D2C;
--color-surface: #F7F5FF;
--color-bg: #FFFBE9;
--color-accent-secondary: #FFF2BD;
--color-accent-main: #8D572E;
--color-accent-tertiary: #A8B89A;
--font-display: "Playfair Display", serif;
--font-sans: "Lato", sans-serif;
}